{% extends "base.html" %}


{% block content %}

<div style="max-width: 600px; margin: auto; line-height: 1.8; font-size: 22px;">
 ما همیشه از شنیدن صدای شما خوشحال می‌شویم. اگر سوالی دارید، نیاز به راهنمایی بیشتر دارید یا می‌خواهید پیشنهادی برای بهتر شدن خدمات ما بدهید، تیم پشتیبانی [نام مجموعه] آماده‌ی پاسخگویی به شماست.
<br>
📞 شماره تماس: [شماره خود را وارد کنید]<br>
📧 ایمیل: [ایمیل خود را وارد کنید]<br>
📍 آدرس: [آدرس فروشگاه یا دفتر]
<br>
همچنین می‌توانید از طریق فرم تماس موجود در همین صفحه پیام خود را برای ما ارسال کنید. ما تلاش می‌کنیم در کوتاه‌ترین زمان ممکن پاسخگوی شما باشیم.


</div>


<br><br><br><br><br><br>

{% endblock %}