{% extends 'base.html' %}
{% block content %}

<div class="signup-form">
    <h2>ویرایش رمز عبور</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
       
        <button type="submit">ویرایش رمز عبور</button>
    </form>
    <a href="{% url 'update_password' %}">قبلا ثبت نام کرده‌اید؟ ورود</a>
</div>



<style>
.signup-form {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    width: 350px;
    margin: 50px auto;
    font-family: Arial, sans-serif;
}

.signup-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.signup-form input[type="text"],
.signup-form input[type="email"],
.signup-form input[type="password"]
{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.signup-form button {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.signup-form button:hover {
    background-color: #45a049;
}

.signup-form a {
    display: block;
    text-align: center;
    margin-top: 15px;
    text-decoration: none;
    color: #555;
}

.signup-form a:hover {
    text-decoration: underline;
}
</style>


{% endblock %}
